@using JobReady.Services
@model AddEducationRequest
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Education</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label">User</label>
                <select id="OwnerId" name="OwnerId" asp-items="ViewBag.Users" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="UniversityId" class="control-label">University</label>
                <select id="UniversityId" name="UniversityId" asp-items="ViewBag.Universities" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Major" class="control-label"></label>
                <input type="text" asp-for="Major" class="form-control">
                <span asp-validation-for="Major" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Degree" class="control-label"></label>
                <input type="text" asp-for="Degree" class="form-control">
                <span asp-validation-for="Degree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="date" asp-for="StartDate" class="form-control"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="date" asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>